.header {
    /*background-color:#37B5D0;*/
    color:white;
    text-align:center;
    font-size: large;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family:'Adobe Gothic Std', sans-serif;
}

.logo-img{
    margin: 0 8px;
    width: 70%;
}

.link {
    padding: 1.5% 2%;
    text-decoration:none;
}

.link-help {
    padding: 2%;
    position: absolute !important;
    right:0%;
}

.link:visited {
    color: white;
}